<launch>
<arg
  name="calibration_file"
  default="$(find alphasense_stereo)/param/alphasense_calib.yaml"
  doc="The path to the configuration file for camera calibration file."/>
<arg name="manager" default="default"/>
<arg name="left_topic" default="/alphasense_driver_ros/cam1" />
<arg name="left_cam_name" default="cam1" />
<arg name="right_topic" default="/alphasense_driver_ros/cam0" />
<arg name="right_cam_name" default="cam0"/>

<!-- Setup nodelet manager. -->
<arg name="respawn" default="false" />
<arg name="approximate_sync" default="false" />
<node pkg="nodelet" type="nodelet" name="$(arg manager)" args="manager"  />
<arg     if="$(arg respawn)" name="bond" value="" />
<arg unless="$(arg respawn)" name="bond" value="--no-bond" />

<!-- Undistortion node -->
<node pkg="nodelet" type="nodelet" name="stereo_undistort_$(arg manager)"
      args="load alphasense_stereo/stereo_undistort $(arg manager) $(arg bond)"
      respawn="$(arg respawn)" output="screen" >
  <param name="calibration_file" value="$(arg calibration_file)"/>
</node>


<!-- Disparity image -->
<node pkg="nodelet" type="nodelet" name="disparity_$(arg manager)"
      args="load stereo_image_proc/disparity $(arg manager) $(arg bond)"
respawn="$(arg respawn)" >
  <param name="approximate_sync" value="$(arg approximate_sync)" />
  <remap from="left/image_rect" to="$(arg left_topic)/image_rect" />
  <remap from="left/camera_info" to="$(arg left_topic)/camera_info" />
  <remap from="right/image_rect" to="$(arg right_topic)/image_rect" />
  <remap from="right/camera_info" to="$(arg right_topic)/camera_info" />
  <remap from="disparity" to="$(arg manager)_disparity" />
</node>

<!-- Reproject into PointCloud2 -->
<node pkg="nodelet" type="nodelet" name="point_cloud2_$(arg manager)"
      args="load stereo_image_proc/point_cloud2 $(arg manager) $(arg bond)"
respawn="$(arg respawn)" >
  <param name="approximate_sync" value="$(arg approximate_sync)" />
  <remap from="left/image_rect_color" to="$(arg left_topic)/image_rect"/>
  <remap from="left/camera_info" to="$(arg left_topic)/camera_info" />
  <remap from="right/camera_info" to="$(arg right_topic)/camera_info" />
  <remap from="disparity" to="$(arg manager)_disparity" />
  <remap from="points2" to="$(arg manager)_stereo_cloud" />
</node>


</launch>
